<div class="ui container">
  <div class="ui segment">
    <h2>Evaluate "<%= @project.product_name %>"</h2>
    <%= form_for(response, :html => {:class => "ui huge-radio form sus"}) do |f| %>
  		<table class="ui selectable very basic large table">
  		  <tbody>
          <tr class="field">
  		      <td>&nbsp;</td>
  		      <td class="right aligned">Strongly Disagree</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Strongly Agree</td>
          </tr>
  		    <tr class="field">
  		      <td>I think that I would like to use this system frequently.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I found the system unnecessarily complex.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I thought the system was easy to use.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I think that I would need the support of a technical person to be able to use this system.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I found the various functions in this system were well integrated.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I thought there was too much inconsistency in this system.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I would imagine that most people would learn to use this system very quickly.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I found the system very cumbersome to use.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I felt very confident using the system.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td>I needed to learn a lot of things before I could get going with this system.</td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="0"><label></label></div>
            </td>
  		    </tr>
        </tbody>
      </table>
      <input type="hidden" name="uri_token" value="<%= @project.uri_token %>">
      <input type="hidden" name="response_su[f]" value="">

      <div class="ui right aligned container">
        <%= f.submit "Submit", :class => "ui large submit button" %>
      </div>
    <% end %>
  </div>
</div>
