<div class="ui text container">
  <div class="ui segment">
  	<h2>Veuillez lire attentivement la consigne</h2>
  	<p>[Rédiger consigne SUS]</p>
  	<div class="ui right aligned container">
  		<a href="<%= url_for project_public_respond_path(project.uri_token, step: 1) %>" class="ui large button">Commencer</a>
  	</div>
  </div>
</div>
