body, html {
  font-size: 17px;
}
body {
  margin-top:3em;
}
body.response.public {
  margin-top:2em;
}
body .page-content {
  margin-top: 6em;
  text-color: #505050;
}
.login.column {
  max-width: 24em;
}
.ui.main.menu {
  border:0;
  border-bottom: 1px #eee solid;
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.ui.main.menu .item > img:not(.ui) {
  width: auto;
}
.ui.breadcrumb a.ui.button.primary {
  color: #636363;
}
.ui.button.primary {
  background: #ffffff none;
  color: #636363;
  font-weight: 400;
}
.ui.breadcrumb a.ui.button.primary:hover,
.ui.button.primary:hover {
  background: #ffffff none;
  color: #000000;
}
.ui.button {
  background: #36f8b0 none;
  color: #636363;
}
.ui.button:hover {
  background: #35e7a5 none;
}
.ui.inverted.button {
  color:#636363;
}
nav.bc {
  height:8rem;
  margin-top: -3em;
  background: #eee;
  margin-bottom: 2em;
}
nav.bc .ui.breadcrumb {
  line-height: 8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
nav.bc .ui.breadcrumb,
nav.bc .ui.breadcrumb a,
.ui.main.menu .menu .item a {
  color: #636363;
}
nav.bc .ui.breadcrumb a:hover {
  color: #333333;
}
nav.bc .ui.breadcrumb .active {
  color: #333333;
  font-weight: 400;
}
nav.bc .ui.breadcrumb h1 {
  font-size: inherit;
}
nav.bc .button {
  margin-top:2.7rem;
}
.ui.vertically.divided.grid a {
    color:#636363;
    border-left: 3px transparent solid;
}
.ui.vertically.divided.grid a:hover {
  color: #333333;
  border-left: 3px #36f8b0 solid;
}
.ui.grid .sub.header {
  font-size: 0.5em;
}
.ui.tab a {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color:#636363;
}
.ui.tab a:hover:not(.button) {
  color: #333333;
  border-bottom: 3px #36f8b0 solid;
}

.ui.footer.segment {
  margin: 3em 0em 0em;
  padding: 3em 0em;
}
.ui.huge-radio.form .ui.radio.checkbox .box:before,
.ui.huge-radio.form .ui.radio.checkbox label:before,
.ui.huge-radio.form .ui.radio.checkbox .box:after,
.ui.huge-radio.form .ui.radio.checkbox label:after,
.ui.huge-radio.form .ui.checkbox input[type="checkbox"],
.ui.huge-radio.form .ui.checkbox input[type="radio"] {
  width: 30px;
  height: 30px;
}
.ui.huge-radio.form .ui.radio.checkbox {
  line-height: 30px;
  min-height: 30px;
  min-width: 30px;
}
