body, html {
  font-size: 17px;
}
body {
  margin-top:3em;
}
body.response.public {
  margin-top:2em;
}
body .content {
  margin-top: 6em;
}
.login.column {
  max-width: 24em;
}
.ui.main.menu {
  border:0;
  border-bottom: 1px #eee solid;
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.ui.main.menu .item > img:not(.ui) {
  width: auto;
}
nav.bc {
  height:8rem;
  margin-top: -3em;
background: #36f8b0;
  background: #eee;  
  margin-bottom: 2em;
}
nav.bc .ui.breadcrumb {
  line-height: 8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
nav.bc .button {
  margin-top:2.7rem;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.ui.huge-radio.form .ui.radio.checkbox .box:before,
.ui.huge-radio.form .ui.radio.checkbox label:before,
.ui.huge-radio.form .ui.radio.checkbox .box:after,
.ui.huge-radio.form .ui.radio.checkbox label:after,
.ui.huge-radio.form .ui.checkbox input[type="checkbox"],
.ui.huge-radio.form .ui.checkbox input[type="radio"] {
  width: 30px;
  height: 30px;
}
.ui.huge-radio.form .ui.radio.checkbox {
  line-height: 30px;
  min-height: 30px;
  min-width: 30px;
}
