<h1>Editing Response Attrak Diff</h1>

<%= render 'form', response_attrak_diff: @response_attrak_diff %>

<%= link_to 'Show', @response_attrak_diff %> |
<%= link_to 'Back', response_attrak_diffs_path %>
