<div class="ui text container">
  <div class="ui segment">
  	<h2>Please read the following instructions carefully</h2>
  	<p>Thank you for taking the time to do this survey with us. With your help, we would like to examine how users perceive the usability and aesthetics of <strong><%= @project.product_name %></strong>. We hope to identify areas for optimization. This will enable us to optimize the product in such a way that it is as efficient and comprehensible as possible.</p>
    <ul>
      <li>The following word pairs will help you for your assessment. They represent stark contrasts and can be subdivided into further rating levels.</li>
      <li>Do not ponder over the word pairs and make your assessment spontaneously.</li>
      <li>You may feel that some word pairs do not fit the product very well. However, we would ask you to give an answer anyway.</li>
      <li>Remember that there are no "right" or "wrong" answers - your personal opinion is what counts.</li>
    <div class="ui right aligned container">
  		<a href="<%= url_for project_public_respond_path(project.uri_token, step: 1) %>" class="ui button large">Start</a>
  	</div>
  </div>
</div>
