<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <p><img class="logo" src="<%= image_path('we-love-users-logo(small).png')%>"></p>
    <p><a href="<%= root_path %>">Tools</a>, un service de <a href="http://www.weloveusers.com">We Love Users</a></p>
    <p>© 2016-2017, We Love Users</p>
  </div>
</div>
